.navbar nav:first-of-type {
  position: relative;
  display: flex;
  background-color: white;
  width: 100%;
  height: 90px;
  align-items: center;
  z-index: 200;
}

.whiteCoffee {
  position: absolute;
  color: white;
  top: 90px;
  width: 399pt;
  height: 100pt;
  z-index: 100;
}

.navbar nav:first-of-type ul:nth-child(1),
.navbar nav:first-of-type ul:nth-child(3) {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}

.navbar nav:first-of-type ul:nth-child(1) {
  justify-content: center;
  position: relative;
}

.navbar nav:first-of-type ul:nth-child(3) {
  justify-content: space-evenly;
}

.navbar nav:first-of-type ul:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.navbar nav:first-of-type ul:nth-child(even) a {
  font-size: 1.75em;
  font-weight: 200;
}

.navbar nav:first-of-type ul:nth-child(even) a:hover {
  color: #c09457;
}

.cartIcon {
  font-size: 2em;
}

.navbar nav:first-of-type button {
  background-color: #7b3826;
  margin-top: 0;
  outline: none;
  border-radius: 25px;
  padding: 12.5px 20px;
  border: none;
  color: white;
  font-size: 1.5em;
}

/* navbar for smaller devices */
.navbar nav:last-of-type {
  display: none;
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .navbar nav:first-of-type {
    height: 75px;
  }

  .whiteCoffee {
    top: 75px;
  }

  .navbar nav:first-of-type ul:nth-child(even) a {
    font-size: 1.5em;
  }

  .iconImage {
    width: 90%;
  }

  .cartIcon {
    font-size: 1.5em;
  }

  .navbar nav:first-of-type button {
    padding: 10px 17.5px;
    color: white;
    font-size: 1.25em;
  }

  /* navbar for smaller devices */
  .navbar nav:last-of-type {
    display: none;
  }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
  .navbar nav:first-of-type {
    height: 75px;
  }

  .whiteCoffee {
    top: 75px;
    width: 160pt;
    height: 50.5pt;
    left: 0;
  }

  .navbar nav:first-of-type ul:nth-child(even) a {
    font-size: 1.5em;
  }

  .iconImage {
    width: 90%;
  }

  .cartIcon {
    font-size: 1.5em;
  }

  .navbar nav:first-of-type button {
    padding: 10px 17.5px;
    color: white;
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
  .navbar nav:first-of-type {
    height: 80px;
  }

  .whiteCoffee {
    top: 80px;
    width: 160pt;
    height: 50.5pt;
  }

  .iconImage {
    width: 90%;
  }

  .navbar nav:first-of-type ul:nth-child(even) a {
    font-size: 1em;
    font-weight: 200;
  }

  .navbar nav:first-of-type ul:nth-child(even) a:hover {
    color: #c09457;
  }

  .cartIcon {
    font-size: 1.5em;
  }

  .navbar nav:first-of-type button {
    background-color: #7b3826;
    margin-top: 0;
    outline: none;
    border-radius: 20px;
    padding: 6.5px 10px;
    border: none;
    color: white;
    font-size: 1em;
  }

  /* navbar for smaller devices */
  .navbar nav:last-of-type {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .navbar nav:first-of-type {
    display: none;
  }

  .navbar nav:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: white;
    position: relative;
  }

  .openDrawer {
    width: 100%;
    height: calc(100vh - 65px);
    background-color: rgb(39, 30, 26);
    opacity: 0.9;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    left: 0;
    transition: all 0.5s;
    z-index: 1000;
  }

  .closeDrawer {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgb(39, 30, 26);
    opacity: 0.9;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    left: -100%;
    transition: all 0.5s;
    z-index: 1000;
  }

  .iconImage {
    width: 40%;
    height: 80%;
    margin-left: 10px;
  }

  .iconMenu,
  .iconCloser {
    margin-right: 10px;
    font-size: 2em;
  }

  .navbar nav:last-of-type ul li {
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }

  .navbar nav:last-of-type ul li:first-of-type {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar nav:last-of-type ul li:first-of-type {
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .navbar nav:last-of-type ul li:first-of-type button {
    padding: 10px 17.5px;
    color: white;
    font-size: 1.25em;
    margin-left: 10px;
    background-color: #7b3826;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  }

  .navbar nav:last-of-type span {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
  }

  .cartIconDrawer {
    color: #7b3826;
    font-size: 2em;
    margin-right: 25px;
  }

  .navbar nav:last-of-type ul a {
    margin-left: 5%;
    color: white;
    font-size: 2em;
  }
}
