.navbar nav:first-of-type {
  position: relative;
  display: flex;
  background-color: white;
  width: 100%;
  height: 88px;
  align-items: center;
  z-index: 200;
}

.whiteCoffee {
  position: absolute;
  color: white;
  top: 88px;
  width: 340pt;
  height: 90pt;
  z-index: 100;
}

.navbar nav:first-of-type ul:nth-child(1),
.navbar nav:first-of-type ul:nth-child(3) {
  display: flex;
  align-items: center;
  width: 23%;
  height: 100%;
}

.navbar nav:first-of-type ul:nth-child(1) {
  justify-content: center;
  position: relative;
}

.navbar nav:first-of-type ul:nth-child(3) {
  justify-content: space-evenly;
}

.navbar nav:first-of-type ul:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 54%;
  height: 100%;
}

.navbar nav:first-of-type ul:nth-child(even) a {
  font-size: 1.6em;
  font-weight: 300;
}

.navbar nav:first-of-type ul:nth-child(even) a:hover {
  color: #c09457;
}

.cartIcon {
  font-size: 1.9em;
}

.navbar nav:first-of-type button {
  background-color: #7b3826;
  margin-top: 0;
  outline: none;
  border-radius: 25px;
  padding: 12px 18px;
  border: none;
  color: white;
  font-size: 1.35em;
}

/* navbar for smaller devices */
.navbar nav:last-of-type {
  display: none;
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .navbar nav:first-of-type {
    height: 80px;
  }

  .whiteCoffee {
    top: 80px;
    width: 310pt;
    height: 80pt;
  }

  .navbar nav:first-of-type ul:nth-child(even) a {
    font-size: 1.4em;
  }

  .iconImage {
    width: 85%;
  }

  .cartIcon {
    font-size: 1.6em;
  }

  .navbar nav:first-of-type button {
    padding: 10px 16px;
    color: white;
    font-size: 1.2em;
  }

  /* navbar for smaller devices */
  .navbar nav:last-of-type {
    display: none;
  }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
  .navbar nav:first-of-type {
    height: 78px;
  }

  .whiteCoffee {
    top: 78px;
    width: 150pt;
    height: 48pt;
    left: 0;
  }

  .navbar nav:first-of-type ul:nth-child(even) a {
    font-size: 1.3em;
  }

  .iconImage {
    width: 85%;
  }

  .cartIcon {
    font-size: 1.4em;
  }

  .navbar nav:first-of-type button {
    padding: 9px 15px;
    color: white;
    font-size: 1.15em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
  .navbar nav:first-of-type {
    height: 76px;
  }

  .whiteCoffee {
    top: 76px;
    width: 150pt;
    height: 48pt;
  }

  .iconImage {
    width: 85%;
  }

  .navbar nav:first-of-type ul:nth-child(even) a {
    font-size: 0.95em;
    font-weight: 300;
  }

  .navbar nav:first-of-type ul:nth-child(even) a:hover {
    color: #c09457;
  }

  .cartIcon {
    font-size: 1.35em;
  }

  .navbar nav:first-of-type button {
    background-color: #7b3826;
    margin-top: 0;
    outline: none;
    border-radius: 18px;
    padding: 6px 10px;
    border: none;
    color: white;
    font-size: 0.95em;
  }

  /* navbar for smaller devices */
  .navbar nav:last-of-type {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .navbar nav:first-of-type {
    display: none;
  }

  .navbar nav:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    background-color: white;
    position: relative;
  }

  .openDrawer {
    width: 100%;
    height: calc(100vh - 62px);
    background-color: rgb(39, 30, 26);
    opacity: 0.9;
    position: absolute;
    top: 58px;
    display: flex;
    flex-direction: column;
    left: 0;
    transition: all 0.5s;
    z-index: 1000;
  }

  .closeDrawer {
    width: 100%;
    height: calc(100vh - 62px);
    background-color: rgb(39, 30, 26);
    opacity: 0.9;
    position: absolute;
    top: 58px;
    display: flex;
    flex-direction: column;
    left: -100%;
    transition: all 0.5s;
    z-index: 1000;
  }

  .iconImage {
    width: 38%;
    height: 80%;
    margin-left: 10px;
  }

  .iconMenu,
  .iconCloser {
    margin-right: 10px;
    font-size: 1.85em;
    cursor: pointer;
  }

  .navbar nav:last-of-type ul li {
    width: 100%;
    height: 48px;
    margin-top: 10px;
  }

  .navbar nav:last-of-type ul li:first-of-type {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar nav:last-of-type ul li:first-of-type {
    height: 95px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .navbar nav:last-of-type ul li:first-of-type button {
    padding: 9px 16px;
    color: white;
    font-size: 1.2em;
    margin-left: 10px;
    background-color: #7b3826;
    outline: none;
    border: none;
    border-radius: 14px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  }

  .navbar nav:last-of-type span {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
  }

  .cartIconDrawer {
    color: #7b3826;
    font-size: 1.9em;
    margin-right: 23px;
  }

  .navbar nav:last-of-type ul a {
    margin-left: 5%;
    color: white;
    font-size: 1.9em;
  }
}
