@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #271e1a;
  scroll-behavior: smooth !important;
}

/*  */

html {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.w-full {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.text-white {
  color: white;
}

.arabic-element {
  align-items: flex-end;
}

.arabic-text {
  text-align: right;
}

textarea::placeholder {
  color: #999;
  padding: 10px;
}

.footer {
  width: 100%;
  height: 750px;
  background-image: url("/assets/footer/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.puller {
  position: fixed;
  width: 64px;
  height: 70px;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #c09457;
  cursor: pointer;
  z-index: 50000;
}

.chevron-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50000;
}

.onTop {
  display: none;
}

.onScroll {
  display: block;
}

.onDrawerOpen {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
  .footer {
    height: 800px;
  }

  .puller {
    width: 55px;
    height: 65px;
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
}

@media only screen and (max-width: 599px) {
  .footer {
    height: 1200px;
  }

  .puller {
    width: 60px;
    height: 64px;
    right: 17px;
    bottom: 17px;
  }
}
