.contactUs {
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.contactUs form {
  width: 30%;
  height: auto;
  background-color: #7b3826;
  padding-bottom: 50px;
  /* background-color: #F4F4F4; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 700000;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  box-shadow: 0px 0px 4px rgba(51, 35, 25, 0.3);
}

.contactUs form > div {
  width: 80%;
  margin: 0 10% 25px;
  height: 50px;
}

.contactUs form > div:last-of-type {
  height: 200px;
}

.contactUs textarea {
  resize: none;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.contactUs input {
  padding: 10px;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}

.contactUs h2 {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 3em;
  color: white;
}

.contactUs button {
  width: 80%;
  margin: 0 10%;
  background-color: #242424;
  color: white;
  font-size: 21px;
  display: block;
  outline: none;
  border: none;
  padding: 10px 0;
  cursor: pointer;
}

.contactUs button:hover {
  background-color: black;
}

.contactUsImage {
  width: 50%;
  height: auto;
  top: 0;
  position: absolute;
  z-index: 5;
}

.contactUsImage:first-of-type {
  left: 0;
  transform: rotate(180deg);
}

.contactUsImage:last-of-type {
  right: 0;

  width: 50%;
  height: auto;
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .contactUs form {
    width: 34%;
    margin: 0 33%;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
  .contactUs form {
    width: 50%;
    margin: 0 25%;
    height: 85%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
  .contactUs form {
    width: 60%;
    margin: 0 20%;
    height: auto;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 599px) {
  .contactUs {
    padding-bottom: -50px;
  }

  .contactUs form {
    width: 96%;
    margin: 0 2%;
    height: auto;
    padding-bottom: 50px;
    margin-top: 25px;
  }

  .contactUsImage {
    display: none;
  }

  .contactUs form > div {
    width: 90%;
    margin: 0 50% 20px;
    height: 50px;
  }

  .contactUs button {
    width: 90%;
    margin: 0 5%;
  }
}
