.menu {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.menu > p {
  text-align: center;
  font-size: 2em;
  margin-top: 100px;
  margin-bottom: 10px;
}

.menu > h2 {
  text-align: center;
  font-size: 5em;
  margin-bottom: 50px;
}

.menu > div {
  width: 80%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.menuCard {
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuCard > h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  margin-top: 10px;
  color: #282828;
}

.menuCard p:first-of-type {
  text-align: center;
  margin-top: 10px;
  color: #612818;
  font-size: 19px;
  font-weight: 600;
}

.menuCard p:last-of-type {
  text-align: center;
  margin-top: 10px;
  text-align: center;
  font-size: 1.4em;
  color: #612818;
}

.menuCardImage {
  width: 95%;
  margin-right: 5%;
  height: 50%;
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .menu > div {
    width: 90%;
    margin: 0 5%;
  }

  .menu > p {
    margin-top: 80px;
  }

  .menu > h2 {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
  .menu {
    height: auto;
    padding-bottom: 25px;
  }
  .menu > div {
    width: 98%;
    margin: 0 1%;
  }

  .menu > p {
    margin-top: 60px;
  }

  .menu > h2 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
  .menu {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
  }

  .menu > p {
    font-size: 1.5em;
    margin-top: 50px;
  }

  .menu > h2 {
    font-size: 3.5em;
  }

  .menu > div {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 599px) {
  .menu {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
  }

  .menu > p {
    font-size: 1.5em;
    margin-top: 50px;
  }

  .menu > h2 {
    font-size: 3.5em;
  }

  .menu > div {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .menuCard {
    width: 100%;
    height: 400px;
  }
}
