.footerMid {
  width: 100%;
  height: fit-content;
}

.footerMid > div {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.aboutShop,
.quickLinks,
.gallery,
.contact {
  width: 24%;
}

.footerMid h2 {
  text-transform: uppercase;
  font-size: 21px;
  color: white;
}

.divider {
  width: 200px;
  background-color: white;
  height: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footerMid p {
  color: white;
  font-size: 16px;
  line-height: 1.5em;
}

.footerMid a {
  color: white;
  margin-left: 5px;
  margin-bottom: 5px;
}

.footerMid a:hover {
  text-decoration: underline;
  color: #c09457;
}

.gallery div:last-of-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.galleryImage {
  border: 1px solid white;
  width: auto;
  height: auto;
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .footerMid > div {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .gallery div:last-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
  .footerMid > div {
    display: grid;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .aboutShop,
  .quickLinks,
  .gallery,
  .contact {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
  .footerMid {
    padding-bottom: 60px;
  }

  .footerMid > div {
    display: grid;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .aboutShop,
  .quickLinks,
  .gallery,
  .contact {
    width: 100%;
  }
}

@media only screen and (max-width: 599px) {
  .footerMid > div {
    display: flex;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 25px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .aboutShop,
  .quickLinks,
  .gallery,
  .contact {
    width: 100%;
  }

  .footerMid h2 {
    font-size: 18px;
    margin-top: 15px;
  }
}
